.gif {
    align-items: center;
    border: 1px solid #eee;
    border-radius: 6px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px;
    min-height: 100vh;
    text-decoration: none;
    width: 100%;
}
.gif h4 {
    margin: 0;
}
.gif img {
    object-fit: contain;
}
ul li {
    list-style-type: none;
}

.ListOfGifs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 5px;
    /*grid-template-rows: masonry; */
}

@media (min-width: 800px) {
    :root {
        --results-columns: 4
    }
}

@media (min-width: 600px) {
    :root {
        --results-columns: 3
    }
}