:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #333;
  color-scheme: light dark;
}

body {
    display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.search {
    border-color: #333;
    border-radius: 30px;
    min-height: 28px;
}

ul {
    list-style-type: none;
}

li p {
    display: inline;
    padding: 10px 5px;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-checkbox {
  background:none;
}
