.tw-card {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: .8rem;
    justify-content: space-between;
    margin: 10px 0;
}
  
.tw-card header {
    align-items: center;
    display: flex; 
    gap: 4px;
}

.tw-card header div {
    display: flex;
    flex-direction: column;
}

.tw-card header span {
    opacity: .6;
}

.tw-card img {
    border-radius: 1000px;
    height: 48px;
    width: 48px;
}

.tw-card img:hover {
    opacity: .8;
}

.tw-card button {
    border: 0;
    border-radius: 999px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 16px;
    padding: 6px 16px; 
}

.tw-card button:hover {
    background-color: #CCC;
    color: #fff;
}

.tw-card button.following {
    background-color: #09c;
    color: #FFF;
}